{% extends "base.html" %}
{% block title %} Aggregation {% endblock %}
{% load static %}

{% block content %}
<div class="container" style="padding-bottom: 50px;">
  <h2>Aggregation</h2>
  <p>Showing page {{ page }} of {{ num_pages }} pages</p>
  <button
    class="btn btn-primary"
    {% if page == 1 %} disabled {% endif %}
    onclick="location.href='/emissions/{{page|add:"-1"}}?order_by={{ order_by }}';"
  >
    ❮ Previous
  </button>
  <button
    class="btn btn-primary"
    {% if page == num_pages %} disabled {% endif %}
    onclick="location.href='/emissions/{{page|add:"1"}}?order_by={{ order_by }}';"
  >
    Next ❯
  </button>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=country'">Country</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=month'">Month</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=ship_type'">Ship Type</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=count'">Count</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=max_eedi'">MAX EEDI</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=min_eedi'">MIN EEDI</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=max_eiv'">MAX EIV</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=min_eiv'">MIN EIV</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=sum_co2'">SUM CO2</th>
              <th class="ordering" onclick="window.location='/aggregation/?order_by=sum_fuel'">SUM FUEL</th>
            </tr>
          </thead>
      {% for row in rows %}
        <tr style="cursor:pointer;" >
          {% for val in row %}
          <td>{{ val|default:'0' }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
