{% extends "base.html" %}
{% block title %} radarchart {% endblock %}
{% load static %}

{% block content %}
<div id="main" style="width: 1600px;height:800px;">
<h2>EIV Data of Different Countries</h2>
<div class="container" style="width: 75%;padding-bottom: 50px;text-align:center;" >
<h2>EIV Data of Different Countries</h2>        
        
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript">

        var myChart = echarts.init(document.getElementById('main'));
        var option;

        option = {
        legend: {
            data: ['MIN','MAX']
        },
        radar: {
            // shape: 'circle',
            indicator: [{ name: 'Croatia', max: 24.489997958350262},
                        { name: 'Italy', max: 24.489997958350262},
                        { name: 'Greece', max: 24.489997958350262},
                        { name: 'China', max: 24.489997958350262},
                        { name: 'India', max: 24.489997958350262},
                        { name: 'Sweden', max: 24.489997958350262},
                        { name: 'France', max: 24.489997958350262},
                        { name: 'Korea, Republic of', max: 24.489997958350262},
                        { name: 'Poland', max: 24.489997958350262},
                        { name: 'Germany', max: 24.489997958350262},
                        { name: 'Japan', max: 24.489997958350262}
                        ]
        },
        series: [
            {
            name: 'EIV MAX vs MIN',
            type: 'radar',
            data: [
            {
                value: {{min_eiv}},
                name: 'MIN'
                },
                {
                value: {{max_eiv}},
                name: 'MAX'
                }
            
            ]
            }
        ]
        };

        option && myChart.setOption(option);



    </script>
 </div>
 </div>
{% endblock %}
