{% extends "base.html" %}
{% block title %} radarchart {% endblock %}
{% load static %}

{% block content %}
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="container" style='width: 75%;height:50%'>
        <canvas id="radarchart"  ></canvas>
      </div>

    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript">


        var myChart = echarts.init(document.getElementById('main'));
        var option;

        option = {
        title: {
            text: 'EIV MAX vs MIN'
        },
        legend: {
            data: ['MIN','MAX']
        },
        radar: {
            // shape: 'circle',
            indicator: [{ name: 'Croatia', max: 24.489997958350262},
                        { name: 'Italy', max: 24.489997958350262},
                        { name: 'Greece', max: 24.489997958350262},
                        { name: 'China', max: 24.489997958350262},
                        { name: 'India', max: 24.489997958350262},
                        { name: 'Sweden', max: 24.489997958350262},
                        { name: 'France', max: 24.489997958350262},
                        { name: 'Korea, Republic of', max: 24.489997958350262},
                        { name: 'Poland', max: 24.489997958350262},
                        { name: 'Germany', max: 24.489997958350262},
                        { name: 'Japan', max: 24.489997958350262}
                        ]
        },
        series: [
            {
            name: 'Budget vs spending',
            type: 'radar',
            data: [
            {
                value: {{max_eiv}},
                name: 'MAX'
                },
                {
                {
                value: {{min_eiv}},
                name: 'MIN'
                }
            
            ]
            }
        ]
        };

        option && myChart.setOption(option);



    </script>
 </div>
 </div>
{% endblock %}
