{% extends "base.html" %}
{% block title %} Visual {% endblock %}
{% load static %}

{% block content %}


<div class="container" style="width: 75%;padding-bottom: 50px;text-align:center;" >
    <h2>Number of Ships for Different Ship Types</h2>
    
    <canvas id="piechart" width="400" height="200"></canvas>        
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    
    <div class="table-responsive">
        <script>
        var ctx = document.getElementById('piechart');
        var piechart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ labels2|safe }},
            datasets: [{
                label: 'Average EEDI',
                data: {{ sum2|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 0.9)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.3)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.1)',                
                    'rgba(255, 99, 132, 0.1)',
                    'rgba(54, 162, 235, 0.1)',
                    'rgba(255, 206, 86, 0.1)',
                    'rgba(75, 192, 192, 0.1)',
                    'rgba(153, 102, 255, 0.1)', ]           
            }]
        },
        options: {
            scales: {
                y: {
                        beginAtZero: true
                }
            }
        }
        });
        </script>
        
    </div>  
</div> 

<!-- <div class="container"style="width: 75%;text-align:center;padding-bottom: 50px;" >
    <h2>EEDI Data of Different Ship Types</h2>

    <canvas id="linechart" width="400" height="200"></canvas>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <script>
    var ctx = document.getElementById('linechart');
    var linechart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ labels|safe }},
          datasets: [ 
            {
              label: 'Average EEDI',
              data: {{ ave|safe }}, 
              backgroundColor: 'rgba(255, 99, 132, 0.5)' ,
              stack: 'combined',
              type: 'bar',
              order: 2,
             
              
              
          },    
          {
              label: 'Minimum EEDI',
              data: {{ min|safe }},
              backgroundColor: 'rgba(54, 162, 235, 1)',
              borderColor: 'rgba(54, 162, 235, 0.5)',
              stack: 'combined',
              order: 0,
              
          },
          {
              label: 'Maximum EEDI',
              data: {{ max|safe }},
              backgroundColor: 'rgba(255, 206, 86, 1)',
              borderColor: 'rgba(255, 206, 86, 0.5)',
              order: 1,
              
            }
        ]
      },
      options: {
        responsive: true,
        plugins: {
      title: {
        display: false,
        text: 'Min and Max Settings'
      }
    },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    min:0,
                    max:100
                }
                
                
        }
        }
    });
  </script>
</div>  
 -->
{% endblock %}

